<configuration>
    <appSettings>
        <add key="MongoDBConnectionString" value="mongodb+srv://IzaGawd:D5a7v9i1d12@cluster0.wzgvjsj.mongodb.net/?retryWrites=true&amp;w=majority
"/>
        <add key="PostgreSQLConnectionString" value="Server=vultr-prod-06ee40cc-23b1-4ea8-956c-b2f80dc82301-vultr-prod-9f18.vultrdb.com;Database=discord_bot;Username=vultradmin;Pwd=AVNS_JMuIgIq3E_SbjN3OF5F;Port=16751;"/>
        <add key="BotToken" value="MzQwMDU0NjEwOTg5NDE2NDYw.GlAoYq.Ld1L9YN2SoS713RS9YGbeNTfdRYzUOH6jknDE4"/>
        <add key="MySQLConnectionString" value="server=cpanel-box5133.bluehost.com;database=legenep8_discord_bot;uid=legenep8_Izagawd;pwd=D5a7v9i1d12+;"/>
    </appSettings>
</configuration>