#navigation{
    position: absolute;
    display: flex;
    margin: auto;
    left: 0;
    right: 0;

    height: 80px;
    width: fit-content;
}
#navigation_super{
    width: 100%;

    top: 0;
    left: 0;
    height: 80px;
    z-index: 5;
    position: fixed;
    background-color: red;
}
.navigation_button{
    
    margin-left: 30px;
    border: black 5px;
    text-decoration: none;
}
.navigation_button{
    color: black;
}
.navigation_button:link{
    color: black;
}
.navigation_button:hover{
    color: white;
}
#navigation_home_button{
    margin-left: 0px;
}
