@page
@using DiscordBotNet.LegendaryBot.Battle.Entities
@model DiscordBotNet.Pages.add.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <form method="post">
        <select name="type">
            @foreach (var i in Bot.AllAssemblyTypes.Where(i => !i.IsAbstract && i.IsSubclassOf(typeof(Entity))))
            {
                <option name="@i.Name">@i.Name</option>
            }
        </select>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>