@page
@using DiscordBotNet.LegendaryBot.Entities
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Bot = DiscordBotNet.Bot
@model DiscordBotNet.Pages.add.Index

@{
    Layout = "Shared/_NavigationLayout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div style="top: 15%; position: fixed;">
    <form method="post">
        <select name="type">
            @foreach (var i in Bot.AllAssemblyTypes.Where(i => !i.IsAbstract && i.IsSubclassOf(typeof(Entity))))
            {
                <option value="@i.Name">@i.Name (@Model.Categorize(i).Name)</option>
            }
        </select>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>