@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DiscordBotNet.Pages.testing.Index



<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>

<form method="post" style="z-index: 9000;">
    <asp:button runat="server" id="btnLogin" Text="Log In" OnClick="" />
</form>

<p style="z-index: 9001">@Model.Idk</p>

</html>